@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  /* color: white; */
}

body {
  background-color: rgb(57 59 72);
}

.heading {
  margin-left: 50px;
  margin-top: 50px;
  font-size: 40px;
  color: #fff;
}

input {
  margin-left: 90px;
  margin-top: 30px;
  padding: 7px;
  width: 400px;
  height: 30px;
  border-radius: 8px;
  background-color: white;
  border-color: rgb(214, 212, 212);
  font-size: 18px;
  margin-bottom: 4rem;
}

input .search-query {
  border-color: rgb(214, 212, 212);
}

.Card {
  display: flex;
  background-color: #262931;
  padding-left: 35px;
  max-width: 400px;
  padding-top: 20px;
  padding-right: 88px;
  border-radius: 20px;
  border-color: white;
  color: white;
  margin-left: 30px;
}

.image {
  border-radius: 9999px;
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  margin-bottom: 14px;
  margin-right: 32px;
}

.h4 {
  color: #6a717e;
  margin-top: 15px;
  text-decoration: none;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  /* max-width: 30rem; */
  /* margin-left: 10px;
  margin-right: 10px; */
}

.main {
  display: flex;
}

.profile {
  width: 300px;
  margin: 20px;
  border-radius: 17px;
  height: 370px;
  width: 350px;
  margin: 60px;
}

.box1 {
  margin-left: 50px;
}

.h2 {
  margin-top: 90px;
  color: white;
}

.button {
  padding: 0.5rem;
  border-width: 2px;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: white;
  margin: 0;
  border: 1px solid white;
  margin-top: 30px;
  width: 20vw;
  height: 46px;
}

.box2 {
  display: flex;
}

.smallCard {
  /* padding-left: 5rem;
  padding-right: 5rem; */
  width: 18vw;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  padding-top: 17px;
  padding-bottom: 20px;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: 3px 5px 25px -7px #1e1f25;
  font-size: 10px;
}

.city {
  font-weight: 300;
}

.section {
  display: flex;
  margin-left: 50px;
}

.section1 {
  /* padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 100px;
  padding-right: 100px; */
  width: 21vw;
  height: 76px;
  border-radius: 0.5rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
  color: white;
  margin-right: 19px;
  cursor: pointer;
  background-color: #262931;
  box-shadow: 3px 5px 25px -7px #1e1f25;
  display: flex;
}

.img {
  width: 45px;
  height: 37px;
  margin-left: 33px;
}
/* loader */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
